body {
    font-family: calibri;
}

.header {
    background-color: #453887;
    padding: 2%;
}

.logoProfile {
    width: 4%;
    margin-left: 45%;
    margin-top: 2%;
}

.teksProfile {
    color: white;
    margin-left: 50%;
    margin-top: -3.5%;
}

/*biodata pengguna*/

.fotoProfile {
    width: 15%;
    margin-top: 10%;
    margin-left: 25%;
}

.nama {
    margin-left: 45%;
    margin-top: -14%;
    display: block;
}

.birth-date {
    margin-left: 45%;
    margin-top: 2%;
    display: block;
}

.telp {
    margin-left: 45%;
    margin-top: 2%;
    display: block;
}

.alamat {
    margin-left: 45%;
    margin-top: 2%;
    display: block;
}

h4 {
    margin-left: 45%;
}

.button {
    background-color: #453887;
    display: inline-block;
    color: white;
    padding: 1%;
    border-radius: 10%;
    margin-left: 49.5%;
    margin-top: 5%;
}

.button:hover {
    box-shadow: 0 0 30px #453887;
}

/*Contact Us*/
.slide4 {
    background-color: #453887;
    margin-top: 15%;
}

.logoJikuSlide4 {
    width: 15%;

}


table {
    width: 100%;
    text-align: left;
    margin-top: -5%;
}

td {
    color: white;
}

th {
    color: rgb(233, 230, 230);
}

.aboutMe {
    margin-left: 15%;
    margin-top: -6%;
    padding: 2%;
}

.logoLokasi,
.logoWhatsapp,
.logoInstagram,
.logoPhone,
.logoEmail {
    width: 8%;
    margin-top: 2%;
    display: inline-block;
}

/*Ukuran Mobile*/
@media only screen and (max-width:550px) {

    .logoProfile {
        width: 8%;
        margin-left: 48%;
        margin-top: 2%;
    }

    .teksProfile {
        margin-left: 46%;
        margin-top: -1%;
        font-size: 130%;
    }


    h4 {
        margin-left: 45%;
    }

    .button {
        padding: 1%;
        border-radius: 10%;
        margin-left: 58%;
        margin-top: 15%;
        font-size: 90%;
    }

    .button {
        margin-left: 53%;
        padding: 2%;
    }


    /*Contact Us*/
    .slide4 {
        width: 98%;
        margin-top: 35%;
        margin-left: -2%;
        padding: 2%;
    }

    .logoJikuSlide4 {
        width: 20%;


    }

    table {
        width: 100%;
        text-align: left;
        margin-top: -15%;
    }

    th {
        color: rgb(233, 230, 230);

        font-size: smaller;

    }

    td {
        color: white;
        font-size: smaller;
    }


    .aboutMe {
        margin-left: 25%;
        margin-top: -6%;
        font-size: smaller;
    }
}