<div class="login">
    <form action="../createAcc.php" method="POST">
            <h3>Create Account</h3>
            <div class="input">
                <input type="text" class="username" name = "username" placeholder="Username"> <br>
            </div>
            <div class="input">
                <input type="email" class="Email" name = "email" placeholder="Email"> <br>
            </div>
            <div class="input">
                <input type="password" class="Password" name = "Password" placeholder="Password"> <br>
                <a class="lupapw" href="">Forgot Password?</a>
            </div>
            <div class="input">
                <input type="checkbox" class="ceklis" id="check">
                <label for="check" class="textcek"> i agree to the terms of service and pivacy policy</label>
            </div></label>
            <br>
            <a href="./afterLoginPasien.html">
                <button type="submit" name="login">Sign Up</button>
            </a>
        
            <p class="teksCekAkun">if you already have an account ?</p>
            <a href="../signInPasien.html">
                <p class="signIn">Sign In</p>
            </a>
    </form>
</div>
